@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Avatar Upload Example</h1>
    <p class="lead">
        This is ASP.NET MVC 5 example of avatar upload that uses jquery, jquery.form, and jcrop and it has some extra code to manipulate the image before saving it locally.
    </p>
    <p><a href="/Avatar/Upload" class="btn btn-primary btn-large">Start the demo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Focus on <code>Avatar</code> controller and <code>_Upload.cshtml</code> partial view. The client-side code is in <code>site.avatar.js</code>. The rest is a simple ASP.NET MVC 5 template from Vuisual Studio 2013 Update 2.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customize the code</h2>
        <p>
            Review ad change all <strong>ToDo</strong>'s in the code for quick customization of sizes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more out of it</h2>
        <p>Feel free to change anything in this project to suite your needs. This project is free.</p>
        <p>Keep sharing! The repository is on <a href="https://github.com/MiroJ/AvatarUpload">GitHib</a>.</p>
    </div>
</div>